img {
  height: 300px;
  width: 300px;
}

nav a {
  padding-left: 20px;
}

body {
  background-image: url("https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2017/06/20/Photos/Processed/plane-kVKH--621x414@LiveMint.jpg");
  background-size: cover;
  height: 100%;
}
